#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#avatar {
    width: 100px;
    height: 100px;
}

#school {
    width: 150px;
    height: 150px;
}

.note {
    margin-top: 5;
    font-size: 10px;
}

.hidden {
    display: none;
}
/* .list li {
    float: left;
    display: inline;
    margin: 5px;
} */
